package-lock=false
_auth="ZGVwbG95Om1KczgyOUExYUxreHg="
@cactus:registry=https://registry.esport-management.org/repository/npm-releases/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=356468F5-D0F3-4F05-8C40-290390266F26
registry=https://registry.npmjs.org