@import '@cactus/srm-component/dist/src/styles/colors';

.bo-challenge-list {
    .scrollable {
        color: $grey6;

        min-height: calc(100vh - 67px);

        td:not(.status),
        td {
            border: none;
        }

        th {
            font-size: 13px;
            background: $grey3;
            border-bottom: 1px solid $grey5;
            color: inherit;
        }

        tbody {
            tr {
                font-size: 16px;

                &:nth-child(2n) {
                    background: $grey4;
                }

                &:not(:nth-child(2n)) {
                    background: $grey3;
                }
            }

            td {
                font-size: inherit;
            }

            td:not(.status) {
                background: inherit !important;
            }

            .icon {
                height: 24px;
                width: 24px;
                min-width: 24px;
                background: $grey6;
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: contain;
            }
        }

        .nc-dialog {
            .dialog-content {
                width: 1000px;
                max-height: none;
                background-image: none !important;

                .nc-card {
                    border-radius: 0;
                    box-shadow: none;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: $grey4;
                }
            }
        }
    }
}
